/* Need Help? Join my discord @ discord.gg/yWddFpQ */
:root {
    --background-contrast: 95%;
    --background-blur: 3px;
    --loadbar-color: #ff00005b;
    --loadbar-progress-color: #000000;
    --loadbar-height: 30px;
    --footer-font-color: #ffffff5b;
    --footer-font-size: 24px;
    --fadeTo-Color: #0000005b;
}